# "데이터 분석 Python 기초 문법 노트북"
> "2021년 여름방학 데이터분석을 위한 python 기초문법"

- toc:true
- branch: master
- badges: true
- comments: true
- author: OH CHUNGHYEON
- categories: [python, 데이터분석]

In [ ]:
x=3
y=7
x+y

10

# 마크다운
## 마크다운
### 마크다운

* hello world
* hello world
* hello world

1. hello world
1. hello world
1. hello world

## 변수

* 대문자와 소문자는 다릅니다!
* 변수명에 띄어쓰기를 쓰지 않습니다.
* 맨 앞에 숫자를 사용하지 않습니다.
* 카멜 표기법(대문자)이나 스네이크 표기법(아래빼기, 아래바) 중에 일반 변수는 스네이크 표기법을 사용합니다.
* for, if, print, sum 등 이미 예약되어 있는 것은 변수로 사용하지 않습니다.

In [ ]:
x=3
y=7
x+y
x-y
x*y
x//y

0

In [ ]:
x=3
y=7
print(x+y)
print(x-y)
print(x*y)
print(x//y)

10
-4
21
0

In [ ]:
a=10
b='10'
print(a+a)
print(b+b)

20
1010

In [ ]:
a=10 #int : 정수
b='10' #str : 문자
c='oh'
d='chunghyeon'
e=True #bool : 블리언
f=10.1 #float : 실수

<class 'int'>

In [ ]:
a=[10, 20, 30, 10.1, 20.1, 30.1, 'chunghyeon'] #list
b={10, 20, 30} #tuple
c={10, 20, 30, 30, 30} #set
d={'one':1, 'two':2} #dict

print(type(a))

<class 'list'>

In [ ]:
a.pop() #pop의 의미:맨마지막 것을 뺀다
sum(a)

120.29999999999998

## 형변환

In [ ]:
a=10
b='10'
print(str(a)+b)
print(a+int(b))

1010
20

In [ ]:
a=10
b='10a'
print(a+int(b))

##산술연산(사칙연산)

In [ ]:
a=7
b=3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a**b)
print(a%b)

10
4
21
2.3333333333333335
2
343
1

##비교연산

In [ ]:
a=3
b=5
print(a>b)
print(a>=b)
print(a<b)
print(a<=b)
print(a==b)
print(a!=b)

False
False
True
True
False
True

##논리연산

In [ ]:
#주석입니다. 주석은 실행하지 않습니다.

a=10
b=20
a+b

30

In [ ]:
a=True #1
b=False #0

print(a and b) #곱하기개념. 그렇기 때문에 1*0=0 false가 됨
print(a or b) #더하기개념. 0 외의 다른 숫자는 다 1이 됨
print(not a) #a가 아닌 것. 그러므로 0이 됨

False
True
False

In [ ]:
result = 0
for i in range(1001): #반복문
  if i % 3 == 0 or i % 5 == 0:  #%는 나머지를 출력함  #가정문
    result = result + i

print(result)

234168

##문자열

In [ ]:
s='paullab CEO leehojun'

In [ ]:
s.count('l')

3

In [ ]:
s.count(' ')

2

In [ ]:
s.upper()

'PAULLAB CEO LEEHOJUN'

In [ ]:
s.lower()

'paullab ceo leehojun'

In [ ]:
s.split(' ')

['paullab', 'CEO', 'leehojun']

In [ ]:
'-'.join(['a', 'b', 'c']) #전화번호, 우편번호와 같은 데이터 가공시 사용

'a-b-c'

In [ ]:
d = s.split(' ')
'-'.join(d)

'paullab-CEO-leehojun'

In [ ]:
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
s='            hello world'
print(s)
print(s.strip())  
print(s.replace(' ',''))

            hello world
hello world
helloworld

##리스트
* 순서가 있고, 수정이 가능합니다.

In [ ]:
a = [10, 20, 30, 40, 50, 60, 70, 15]

a

a[0] #0은 인덱스이고, a[0] 호출하는 것을 인덱싱(indexing)이라고 함

a[0], a[1], a[2], a[3], a[4] #이렇게 나열하는 것은 번거롭다!
a[0:5] #그래서 이렇게 표현할 수 있다. 슬라이싱이라고 함. 자료형[start:stop:step]
a[::2] #2번째마다 출력해라
a[::-1] #-1번째마다 출력해라. 현장에서 자주 사용함.
a[0] = 1000

a

[1000, 20, 30, 40, 50, 60, 70, 15]

In [ ]:
dir(a)

a.append(10)  # 값을 맨 뒤에 추가합니다. 현장에서 잘 씀. 맨 뒤에 10을 추가한다.
a.clear()   # a에 모든 값을 비웁니다. 현장에서 잘 안 씀
a.copy()    # a에 모든 값을 복사합니다.
a.count()   # a에 특정한 값의 개수를 찾습니다. 현장에서 잘 씀
a.extend([10, 20, 30])  # a에 맨 뒤에 여러개의 값을 추가합니다. 맨뒤에 10, 20, 30 값을 추가한다.
a.index()   # a에서 특정한 값의 인덱스를 찾습니다.
a.insert(2, 1000)  # a에 중간에 값을 삽입합니다. 2번째에 1000 값을 추가한다.
a.pop()     # a에 맨 뒤에 값을 빼냅니다. 빼낸 값은 삭제됩니다. 현장에서 잘 씀
a.remove()  # a에 특정한 값을 삭제합니다.
a.reverse() # a에 값을 뒤집습니다. 현장에서 잘 씀
a.sort()    # a의 값을 정렬합니다. 현장에서 잘 씀

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
a.append(100)

a

[1000, 20, 30, 40, 50, 60, 70, 15, 100, 100, 100, 100, 100]

In [ ]:
a.count(100)

5

In [ ]:
a.sort()

a

[15, 20, 30, 40, 50, 60, 70, 100, 100, 100, 100, 100, 1000]

In [ ]:
a.reverse()

a

[15, 20, 30, 40, 50, 60, 70, 100, 100, 100, 100, 100, 1000]

In [ ]:
a

[15, 20, 30, 40, 50, 60, 70, 100, 100, 100, 100, 100, 1000]

##튜플, 딕셔너리, 셋

In [ ]:
##튜플은 순서가 있고, 값을 변경할 수 없습니다.

t = (10, 20, 30)
t

#수정할 수 없으므로, dir에서 인덱스와 카운터만 존재한다. 계좌번호와 같은 정보를 이런식으로 사용함

(10, 20, 30)

In [ ]:
dir(t)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
# 딕셔너리

영한번역 = {'one' : '하나', 'two' : '둘'}

영한번역['one']

#엑셀을 만들었을 때, 한 열에 기온데이터가 있다고 한다면 열별로 매칭이 가능하다.

'하나'

In [ ]:
# 셋. 셋은 집합이다. (합집합, 차집합, 교집합). 많이 사용하지는 않음

s = {10, 20, 30, 30, 30}

s

{10, 20, 30}

In [ ]:
s = {10, 20, 30, 30, 30}
ss = {10, 40, 50}

s | ss #합집합
s & ss #교집합
s - ss #차집합

{20, 30}

##f-string

In [ ]:
age =10
name = 'ohchunghyeon'

print('제 이름은 ohchunghyeon 입니다. 제 나이는 10 살입니다.')

print('제 이름은',name,'입니다. 제 나이는',age,'살입니다.')

print('제 이름은 {0} 입니다. 제 나이는 {1} 살입니다.' .format(name, age))

print(f'제 이름은 {name} 입니다. 제 나이는 {age} 살입니다.') #이것만 쓰자!

제 이름은 ohchunghyeon 입니다. 제 나이는 10 살입니다.
제 이름은 ohchunghyeon 입니다. 제 나이는 10 살입니다.
제 이름은 ohchunghyeon 입니다. 제 나이는 10 살입니다.
제 이름은 ohchunghyeon 입니다. 제 나이는 10 살입니다.

##Built in function

* abs() : 절대값
* min() : 최솟값
* max() : 최댓값
* dir() : 매서드 확인
* id() : 메모리 주소 확인
* sorted() : 정렬
* reverse() : 역순 %역정렬이 아님
* enumerate() : 순서를 매김 (for문 하면서 설명할 예정)

* 형변환 : 
  * set() : 집합으로 형변환 
  * dict() : 딕셔너리로 형변환
  * int() : 불리언으로 형변환
  * bool() ; 불리언으로 형변환
  * int() : 정수형으로 형변환
  * str() : 문자열으로 형변환
  * list() : 리스트로 형변환

* ord() : 문자를 숫자로 변환
* chr() : 숫자를 문자로 변환
* sum() : 전부 더함(더할수 없으면 에러)
* filter() : 필터링(수학점수 90점 이상인 사람은? 이런식)
* print() : 출력

* format() : 콤마찍기
* len() : 길이출력!! 중요!!!!!!!!
* type() : 타입 알아보기 중요!!
* range() : 연속된 값 생성(0~99 -> range(100)이라는 의미임. 100을 포함하지 않음)
* zip('abc', 'def') 
* map(lambda x:x**2, [1,2,3])
* round() : 소수점 반올림

In [ ]:
list(zip('abc', 'def'))  #첫째자리끼리 묶고, 둘째자리끼리 묶고....

[('a', 'd'), ('b', 'e'), ('c', 'f')]

In [ ]:
list(map(lambda x:x**2, [1,2,3])) #제곱....

[1, 4, 9]

##조건문

In [ ]:
if False:  #여기가 투르일 경우에만 아래를 실행함
    print('hello')
print('end')

end

In [ ]:
score = 89
money = 0

if score > 90:
    print('mom : i\'m so happy')
    money += 1000000 # money = money + 1000000, 할당연산이라 부름
elif score > 80:
    print('mom : i\'m happy')
    money += 100000
elif score > 70:
    print('mom : happy?')
    money += 10000    
else:
    print('mom : ...')
    money += 1000

print(money)

mom : i'm happy
100000

##문제풀이와 업다운 게임 제작

1~10000까지 숫자 8의 개수를 구하시오.

In [ ]:
str(list(range(100)))
str(list(range(100))).count('8')
str(list(range(10001))).count('8')

4000

거리가 가장 짧은 숫자 두개를 표시하시오.

In [ ]:
리스트 = [1, 3, 4, 8, 13, 17, 20]
리스트둘 = 리스트[1:]

리스트둘

[3, 4, 8, 13, 17, 20]

In [ ]:
list(zip(리스트, 리스트둘))

[(1, 3), (3, 4), (4, 8), (8, 13), (13, 17), (17, 20)]

In [ ]:
묶어준리스트 = list(zip(리스트, 리스트둘))
묶어준리스트.sort(key=lambda x:x[0]-x[1], reverse=True)
묶어준리스트
묶어준리스트[0]

(3, 4)

In [ ]:
import random 

정답 = random.randint(1, 100)

while True:
    user = int(input('숫자를 입력하시오'))
    if user < 정답 :
        print('Up')
    elif user > 정답 :
        print('Down')
    else:
        print('정답!')
        break

숫자를 입력하시오15
Down
숫자를 입력하시오7
Up
숫자를 입력하시오9
Up
숫자를 입력하시오10
Up
숫자를 입력하시오12
정답!

##반복문

In [ ]:
list(range(10)) # stop만 있는 랭쥐
list(range(0, 10, 2)) # start, stop, step이 있는 랭쥐
list(range(5, 10))  # start, stop이 있는 랭쥐

list(range(10, 5, -1)) # start, stop, step

[10, 9, 8, 7, 6]

In [ ]:
for i in range(10): #i가 마지막에 도달하는 동안 반복
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
s = 0
for i in range(101):
    s = s + i

print(s)

5050

0~100까지 2의 배수만 더하시오.

In [ ]:
s = 0

for i in range(51):
    s = s + (i*2)

print(s)

2550

In [ ]:
sum(range(0, 101, 2))

2550

In [ ]:
s = 0

for i in range(0, 101, 2):
    s = s + i

print(s)

2550

In [ ]:
s = 0

for i in range(101):
    if i % 2 == 0:
        s = s + i

print(s)

2550

구구단을 출력해보자

In [ ]:
for n in range(2, 10):
    for i in range(1,10):
        print(f'{n}×{i} = {n*i}')

2×1 = 2
2×2 = 4
2×3 = 6
2×4 = 8
2×5 = 10
2×6 = 12
2×7 = 14
2×8 = 16
2×9 = 18
3×1 = 3
3×2 = 6
3×3 = 9
3×4 = 12
3×5 = 15
3×6 = 18
3×7 = 21
3×8 = 24
3×9 = 27
4×1 = 4
4×2 = 8
4×3 = 12
4×4 = 16
4×5 = 20
4×6 = 24
4×7 = 28
4×8 = 32
4×9 = 36
5×1 = 5
5×2 = 10
5×3 = 15
5×4 = 20
5×5 = 25
5×6 = 30
5×7 = 35
5×8 = 40
5×9 = 45
6×1 = 6
6×2 = 12
6×3 = 18
6×4 = 24
6×5 = 30
6×6 = 36
6×7 = 42
6×8 = 48
6×9 = 54
7×1 = 7
7×2 = 14
7×3 = 21
7×4 = 28
7×5 = 35
7×6 = 42
7×7 = 49
7×8 = 56
7×9 = 63
8×1 = 8
8×2 = 16
8×3 = 24
8×4 = 32
8×5 = 40
8×6 = 48
8×7 = 56
8×8 = 64
8×9 = 72
9×1 = 9
9×2 = 18
9×3 = 27
9×4 = 36
9×5 = 45
9×6 = 54
9×7 = 63
9×8 = 72
9×9 = 81

2단만 while문으로 출력해보자

In [ ]:
x = 1

while x < 10: #x는 10보다 작나요? 그렇습니다. 그러면 실행합니다. 10보다 크다면 실행하지 않습니다.
    print(f'{2}×{x} = {2*x}')
    x +=1
print( )
print(x)

2×1 = 2
2×2 = 4
2×3 = 6
2×4 = 8
2×5 = 10
2×6 = 12
2×7 = 14
2×8 = 16
2×9 = 18

10

##모듈

* filename = test.py % '.py'는 파이썬으로 쓸 수 있는 파일
* name = 'ohchunghyeon'
* age = 10

In [ ]:
import test

#import test as t #단어가 길때는 줄여서 사용가능

#from test import name, age

print(t.name)
print(t.age)

ohchunghyeon
10

##함수
* 재사용성을 높일 수 있다.
* 코드의 구조를 파악하기 쉽다.
* 유지보수를 쉽게 할 수 있다.

In [11]:
def 더하기(x, y):
    return x+y

더하기(10, 20)

30

In [14]:
def 원의넓이(r):
    return (r**2)*3.14

print(원의넓이(10)+100)
print(원의넓이(10)+50)

414.0
364.0

In [19]:
점수 = [10, 20, 30, 40]

def 평균(반점수):
    s = 0
    for i in 반점수:
        s += i
    return s / len(반점수)

print(평균(점수))
print(평균(점수) + 5)

25.0
30.0

##파일 입출력

In [ ]:
f = open("구구단.txt", 'w')  # r(읽음), w(작성, 덮어씀), a(추가)
data = ''
for n in range(2, 10):
    for i in range(1,10):
        data += f'{n}×{i} = {n*i}\n'
f.write(data)
f.close()

##클래스

* 현실세계의 개념을 Code로 옮겨놓은 것
* 클래스의 첫 문자열은 대문자로 쓴다! (강제사항은 아니지만, 관습이다)

In [8]:
class Car:

  # 클래스 변수 또는 맴버

    maxspeed = 300
    maxpeople = 5
    
    #매서드

    def start(self):
      print('출발하였습니다.')
    
    def stop(self):
      print('멈췄습니다.')

In [6]:
audi = Car()  # audi라는 인스턴스를 생성한다
bmw = Car()   # bmw라는 인스턴스 생성한다

audi.start()
print(audi.maxpeople)
print(audi.maxspeed)  # 예시이지, 현장에서는 이렇게 사용하지 않음

출발하였습니다.
5
300

In [20]:
dir(audi)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'maxpeople',
 'maxspeed',
 'start',
 'stop']

In [25]:
class 전기차(Car):
    배터리 = 100
    배터리에_따라_갈_수_있는_거리 = 300

전기차audi = 전기차()
전기차audi.start()
전기차audi.배터리

출발하였습니다.

100

#책추천

- 머신러닝 : 혼자 공부하는 머신러닝생활코딩(사이트)->데이터과학(강의)
- 인프런 : 권철민-파이썬 머신러닝 완벽 가이드
- 파이썬 : 러닝파이썬 상하, 전문가르 위한 파이썬
- 데이터분석 : 판다스 쿡 북, 파이썬 머신러닝 판다스 데이터분석 
- 모두의 빅러닝
- github 사이트 - 코어개발자 찾기, 개발자의 강의 찾기
- 코딩 기출 문제(기업문제 등) - 코딩도장, 백준(답을 못봄)
- 정규표현식
- paullab.co.kr (제주 코딩 베이스캠프)
- 제주청년들을 위한 단톡방 존재. 대표님이 직접 공지글을 매주 올림. 대화없음.
- 유투브 제주코딩베이스캠프 구독!